/* VARIABLES */
:root[data-theme="dark"] {
  --clr-primary: hsl(2.41, 88.77%, 62.75%); /*#F75049*/
  --clr-secondary: hsl(183.35, 97.51%, 68.43%); /*#5EF6FF*/
  --clr-trim: hsl(2.41, 88.77%, 62.75%); /*#F75049 (same as primary)*/
  --clr-bg: hsl(240, 24.03%, 7.26%); /*#0E0E17*/
  --clr-ui: hsl(356.86, 100%, 61.57%); /*#FF3B45*/
}
:root[data-theme="light"] {
  --clr-primary: hsl(243.61, 64.52%, 29.41%); /*#211B7B*/
  --clr-secondary: hsl(243.61, 64.52%, 29.41%); /*#000000*/
  --clr-trim: hsl(0, 0%, 0%); /*#000000 (same as secondary) */
  --clr-bg: hsl(0, 0%, 88.24%); /*#E1E1E1*/
  --clr-ui: hsl(243.61, 64.52%, 29.41%); /*#211B7B*/
}
:root {
  --max-content-width: 1440px;
  --clr-ui-overlay-clicked: hsla(from var(--clr-ui) h s l / 0.7);
  --clr-ui-overlay-active: hsla(from var(--clr-ui) h s l / 0.4);
  --clr-ui-overlay-hover: hsla(from var(--clr-ui) h s l / 0.1);
  --clr-ui-border-notidle: hsla(from var(--clr-ui) h s l / 1);
  --clr-ui-border-idle: hsla(from var(--clr-ui) h s l / 0.3);
  --clr-ui-bg-95: hsla(from var(--clr-bg) h s l / 0.95);
  --clr-ui-bg-80: hsla(from var(--clr-bg) h s l / 0.8);
}
/* Main Core */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  color: var(--clr-primary);
}
body {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  height: 100vh;
  padding: 0 4rem;
  font-size: 1.8rem;
  background: var(--clr-bg);
  background-image: radial-gradient(
    circle at center -50vw,
    hsla(from var(--clr-primary) h s l / 0.4),
    var(--clr-bg) 100vw
  );
  background-repeat: no-repeat;
  overflow: hidden;
}
footer,
.indexed-vertribbon {
  color: hsla(from var(--clr-trim) h s l / 0.3);
}
nav,
footer,
.indexed-vertribbon {
  z-index: 1000;
}
/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 8rem;
  gap: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid hsla(from var(--clr-trim) h s l / 0.3);
  text-wrap: nowrap;
}
nav h1 {
  line-height: 0.7;
}
.nav-ele {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.nav-icon {
  stroke: var(--clr-secondary);
}
.nav-logo {
  font-size: 4rem;
  font-weight: 700;
  line-height: 0.8;
  color: hsla(from var(--clr-primary) h s l / 0.3);
}
.nav-logo:hover {
  color: var(--clr-primary);
}
.nav-logo span {
  font-size: 0.5em;
}
.nav-ele:has(h1) {
  position: absolute;
  top: 5rem;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: -1;
  opacity: 0.1;
}
.ne-iconbox {
  width: 3.4rem;
  height: 3.4rem;
  border: 3px solid var(--clr-secondary);
  border-radius: 4px;
}
.nav-account {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 999rem;
  border: 1px solid var(--clr-ui-border-idle);
  cursor: pointer;
  padding: 0 !important;
}
.nav-account:hover {
  border-color: var(--clr-primary);
}
.cl-userButton-root,
.cl-userButtonTrigger,
.cl-userButtonBox,
.cl-userButtonAvatarBox {
  width: 100%;
  height: 100%;
}
.indexed-vertribbon {
  position: absolute;
  top: 70%;
  left: 0;
  transform-origin: top left;
  transform: translateY(-50%) rotate(-90deg);
  pointer-events: none;
  padding: 0.5rem;
}
main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 2rem 0;
  padding: 2rem 0;
  overflow: hidden auto;
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) calc(0% + 5rem),
    rgba(0, 0, 0, 1) calc(100% - 5rem),
    rgba(0, 0, 0, 0)
  );
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) calc(0% + 2rem),
    rgba(0, 0, 0, 1) calc(100% - 2rem),
    rgba(0, 0, 0, 0)
  );
  outline: none !important;
}
.index-main {
  align-items: center;
  -webkit-mask-image: none;
  mask-image: none;
}
section {
  padding: 2rem 4rem;
  font-weight: 500;
}
section:not(:last-child) {
  margin-bottom: 4rem;
}
footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 9rem;
  padding: 1rem;
}
.themeToggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  padding: 0;
  color: var(--clr-ui-border-idle);
  flex-shrink: 0;
}
/* MAIN PAGE */
.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.not-found h1,
.not-found h2 {
  text-shadow: 0 0 0.2rem var(--clr-primary);
}
.not-found h1 {
  margin-bottom: 2rem;
}
/* Smaller Core */
button {
  cursor: pointer;
}
.cs-down:focus-visible,
.cs-up:focus-visible,
a:focus-visible {
  outline: 2px solid var(--clr-primary) !important;
}
fieldset {
  all: unset;
}
h1,
h2,
h3,
h4,
h5,
h6,
button {
  text-transform: uppercase;
}
h1 {
  color: var(--clr-secondary);
  font-size: 3.5rem;
  font-weight: 600;
  letter-spacing: -0.0175rem;
  line-height: 3rem;
}
h2,
h3,
h4,
h5,
h6,
th {
  font-weight: 500;
}
a {
  color: inherit;
  text-decoration: none;
}
.linkdeco:hover {
  text-decoration: underline;
}
img {
  display: block;
  max-width: 100%;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button {
  all: unset;
}
button:not(:disabled) {
  cursor: pointer;
}
.button-styled-a {
  text-align: center;
}
.btn-ui,
.button-styled-a {
  position: relative;
  padding: 1rem;
  color: inherit;
  font-family: inherit;
  font-weight: 600;
  font-size: inherit;
  white-space: nowrap;
  text-overflow: ellipsis;
  background: var(--clr-ui-bg-80);
  border: 2px solid var(--clr-ui-border-idle);
  cursor: pointer;
  outline: none;
  overflow: hidden;
}
.btn-ui svg,
.button-styled-a svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 90%;
  opacity: 0.2;
}
.btn-ui:hover,
.btn-ui:focus-visible,
.button-styled-a:hover,
.button-styled-a:focus-visible {
  border: 2px solid var(--clr-ui-border-notidle);
}
.btn-ui:hover::after,
.btn-ui:focus-visible::after,
.button-styled-a:hover::after,
.button-styled-a:focus-visible::after,
.search-result:hover::after,
.search-result:focus-visible::after {
  position: absolute;
  inset: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: var(--clr-ui-overlay-hover);
  pointer-events: none;
}
.btn-ui:active,
.button-styled-a:active,
.search-result:active {
  color: var(--clr-bg);
  background: var(--clr-ui-overlay-active);
}
.btn-ui:disabled,
.button-styled-a.disabled {
  color: #444;
  border-color: #444;
  cursor: auto;
  pointer-events: none;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
*::-webkit-scrollbar {
  width: 0.5rem;
}
*::-webkit-scrollbar-thumb {
  background-color: var(--clr-primary);
  border-radius: 0.7rem;
}
*::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 0.7rem;
}
@supports not selector(::-webkit-scrollbar) {
  main {
    scrollbar-width: thin;
    scrollbar-color: var(--clr-primary) var(--clr-bg);
    scroll-snap-type: none;
  }
}

/* LOADING SHIMMER */
.gic-inner.shimmer > .gic-middle {
  background: var(--clr-bg);
}
.shimmer > div {
  background: none;
}
.card.shimmer {
  background: var(--clr-ui-bg-95);
}
.shimmer {
  pointer-events: none;
  position: relative;
  overflow: hidden;
}
.shimmer::before {
  position: absolute;
  inset: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(
    to right,
    hsla(from var(--clr-primary) h s l / 0) 20%,
    hsla(from var(--clr-primary) h s l / 0.1) 50%,
    hsla(from var(--clr-primary) h s l / 0) 80%
  );
  animation: shimmer 2s infinite;
  content: "";
}
@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

/* SEARCH COMPONENT */
::-webkit-search-cancel-button {
  display: none;
}
.index-main .search-container {
  margin-top: 5vh;
}
.nav-ele-search {
  flex-grow: 1;
}
.search-container {
  position: relative;
  max-width: 60rem;
  width: 100%;
  z-index: 10;
}
.search-container input,
.search-results {
  background: var(--clr-bg);
  width: 100%;
}
.input-wrap {
  /* height ref for x & search buttons */
  position: relative;
}
.search-container input {
  outline: none;
  color: var(--clr-secondary);
  font-family: inherit;
  font-weight: 500;
  font-size: 2rem;
  border: 2px solid var(--clr-ui-border-idle);
  padding: 1rem;
}
.search-container:focus-within .search-expanded {
  border-bottom: 2px solid transparent;
}
.search-container input::placeholder {
  color: gray;
  opacity: 0.5;
}
.search-container input:hover,
.search-container input:focus,
.search-container:focus-within input {
  border-color: var(--clr-ui-border-notidle);
}
.search-buttons {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 1rem;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 1rem;
}
.search-buttons button {
  width: 3rem;
  height: 3rem;
  background: none;
  outline: none;
  border: none;
  color: hsla(from var(--clr-primary) h s l / 0.3);
}
.search-buttons button:focus-visible {
  outline: 2px solid var(--clr-primary);
}
.search-buttons button:hover {
  color: var(--clr-primary);
}
.search-container:not(:focus-within) .search-results {
  display: none;
}
.search-results {
  position: absolute;
  margin-top: -0.2rem;
  font-weight: 500;
  overflow: hidden;
  padding: 0.1rem 0;
  border: 2px solid var(--clr-ui-border-notidle);
  border-top: none;
}
.search-result {
  position: relative;
}
.search-result a {
  display: flex;
  align-items: center;
  padding: 0.5rem 2rem;
  gap: 1rem;
}
.search-result a span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.search-thumb {
  height: 4rem;
  width: 3.13rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-shrink: 0;
}
/* Darken & Blur everything if search is selected */
nav .search-container:focus-within::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0.2rem);
  z-index: -10;
}

@media only screen and (max-width: 968px) {
  body {
    background-image: radial-gradient(
      circle at center -50rem,
      hsla(from var(--clr-primary) h s l / 0.4),
      var(--clr-bg) 100rem
    );
  }
  .nav-ele-search:not(:focus-within) .search-buttons {
    display: none;
    z-index: 50;
  }
  .nav-ele-search:focus-within {
    padding: 0 4rem;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
  }
  .nav-ele-search .search-container:not(:focus-within) {
    max-width: 100%;
  }
  .nav-ele-search .search-container:not(:focus-within) input {
    float: right;
    width: 3rem;
    height: 3rem;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='hsla(2.41, 88.77%, 62.75%, 0.3)'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z' /%3E%3C/svg%3E%0A");
    cursor: pointer;
    border: none;
    color: transparent;
  }
  .nav-ele-search .search-container:not(:focus-within) input::placeholder {
    opacity: 0;
  }
  .nav-ele-search .search-container:not(:focus-within) input:hover {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='hsla(2.41, 88.77%, 62.75%, 1)'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z' /%3E%3C/svg%3E%0A");
  }
}

@media only screen and (max-width: 354px) {
  .nav-logo {
    font-size: 11vw;
  }
}
