/* GAME PAGE */
.gamesection-header {
  position: relative;
  display: flex;
  gap: 1rem;
}
.game-image-container,
.game-metadata {
  z-index: 2;
}
.game-background {
  z-index: 1;
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0.1) 35%, rgba(0, 0, 0, 0) 80%);
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 0.1) 35%, rgba(0, 0, 0, 0) 80%);
  filter: blur(8px);
  -webkit-filter: blur(8px);
}
.game-image-container {
  width: 100%;
  max-width: 30rem;
  min-width: 10rem;
  aspect-ratio: 0.70588/1;
  border: 0.2rem solid hsl(from var(--clr-primary) h calc(s - 30) calc(l - 10));
  background: hsl(from var(--clr-primary) h calc(s - 30) calc(l - 10));
  clip-path: polygon(
    calc(0% + 0.5rem) 0,
    100% 0,
    100% calc(100% - 4rem),
    calc(100% - 4rem) 100%,
    calc(0% + 0.8rem) 100%,
    0 calc(100% - 0.8rem),
    0 calc(0% + 8rem),
    calc(0% + 0.5rem) calc(0% + 7.5rem)
  );
}
.gic-inner {
  display: flex;
  width: 100%;
  height: 100%;
  clip-path: polygon(
    calc(0% + 0.5rem) 0%,
    100% 0%,
    100% calc(100% - 4rem),
    calc(100% - 4rem) 100%,
    calc(0% + 0.8rem) 100%,
    0% calc(100% - 0.8rem),
    0% calc(0% + 8rem),
    calc(0% + 0.5rem) calc(0% + 7.5rem)
  );
}
.gic-left,
.gic-right {
  flex-shrink: 0;
  background: var(--clr-primary);
}
.gic-left {
  width: 0.8rem;
}
.gic-right {
  width: 1.8rem;
}
.gic-middle {
  flex-grow: 1;
  background-position: center;
  background-size: cover;
}
.game-table {
  margin-bottom: 2rem;
}
.game-table h1 {
  margin-bottom: 1rem;
}
.game-officialrss {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.game-officialrss a {
  max-width: 12rem;
}
/* CARD */
.game-resources {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 2rem;
}
.rss-container > *:not(:last-child) {
  margin-bottom: 1rem;
}
.card {
  padding: 1px;
  background: var(--clr-ui-border-idle);
  clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 2rem), calc(100% - 2rem) 100%, 0% 100%);
}
.card.notched {
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% calc(100% - 2rem),
    calc(100% - 2rem) 100%,
    0% 100%,
    0% calc(100% - 1.5rem),
    calc(0% + 0.3rem) calc(100% - 1.7rem),
    calc(0% + 0.3rem) calc(100% - 3.7rem),
    0% calc(100% - 4rem)
  );
}
.card:hover,
.card:focus-within {
  background: var(--clr-ui-border-notidle);
}
.card-inner {
  display: flex;
  gap: 0.2rem;
  width: 100%;
  height: 100%;
  clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 2rem), calc(100% - 2rem) 100%, 0% 100%);
}
.card-inner.notched {
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% calc(100% - 2rem),
    calc(100% - 2rem) 100%,
    0% 100%,
    0% calc(100% - 1.3rem),
    calc(0% + 0.3rem) calc(100% - 1.5rem),
    calc(0% + 0.3rem) calc(100% - 3.7rem),
    0% calc(100% - 4rem)
  );
}
.card-left {
  position: relative;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
  width: 2rem;
  border-right: 1px solid var(--clr-ui-border-idle);
}
.report-btn {
  width: 100%;
  z-index: 1;
}
.report-btn svg {
  display: block;
  stroke: var(--clr-ui-border-idle);
}
.card:hover .report-btn svg,
.card:focus-within .report-btn svg {
  stroke: var(--clr-ui-border-notidle);
}
.report-btn:hover svg,
.report-btn:focus-visible svg {
  stroke: #fded0e !important;
  stroke-width: 2;
}
.card-left::after {
  position: absolute;
  inset: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: var(--clr-ui-overlay-hover);
  pointer-events: none;
}
.card:hover .card-left::after,
.card:focus-within .card-left::after {
  background-color: var(--clr-ui-overlay-active);
}
.card:hover .card-content::before {
  position: absolute;
  inset: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: var(--clr-ui-overlay-hover);
  pointer-events: none;
}
.card-content {
  padding: 1rem;
  flex-grow: 1;
  border-left: 1px solid var(--clr-ui-border-idle);
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: anywhere;
}
.card-submission {
  display: flex;
  gap: 1rem;
  padding: 1rem 0;
}
.card-left,
.card-inner,
.card-content {
  background: var(--clr-bg);
}
.cs-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 3rem;
  text-align: center;
  flex-shrink: 0;
}
.cs-left button {
  color: var(--clr-secondary);
  font-size: 1.5rem;
}
.cs-up {
  display: flex;
  align-items: flex-end;
}
.cs-down {
  display: flex;
  align-items: flex-start;
}
.cs-left button:hover svg {
  fill: currentColor;
}
.cs-left button.activeVote svg {
  fill: currentColor;
}
.cs-right {
  flex-grow: 1;
  overflow: hidden;
}
.cs-right h3 {
  font-weight: 600;
  line-height: 0.8;
}
.cs-right:hover h3 {
  color: var(--clr-secondary);
}
.cs-right span {
  display: block;
  font-size: 0.7em;
  filter: saturate(0);
  opacity: 0.7;
  word-wrap: normal;
  text-overflow: ellipsis;
  overflow: hidden;
}
.cs-right > *:not(:last-child):not(h3) {
  margin-bottom: 0.5rem;
}
.cs-right p {
  display: -webkit-box; /* Necessary for -webkit-line-clamp to work */
  -webkit-box-orient: vertical; /* Specify vertical orientation */
  -webkit-line-clamp: 10; /* Limit to 3 lines */
  line-clamp: 10;
  line-height: 1.1em;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* CARD LARGE */
.card-large {
  clip-path: polygon(
    0% calc(0% + 0.5rem),
    calc(0% + 2rem) calc(0% + 0.5rem),
    calc(0% + 2.5rem) 0%,
    100% 0%,
    100% calc(100% - 2rem),
    calc(100% - 2rem) 100%,
    calc(0% + 0.8rem) 100%,
    0% calc(100% - 0.8rem)
  );
  background: var(--clr-ui-border-idle);
  padding: 1px;
  overflow: hidden;
}
.card-large:hover,
.card-large:focus-within {
  background: var(--clr-ui-border-notidle);
}
.card-large-inner {
  display: flex;
  gap: 0.2rem;
  width: 100%;
  height: 100%;
  clip-path: polygon(
    0% calc(0% + 0.5rem),
    calc(0% + 2rem) calc(0% + 0.5rem),
    calc(0% + 2.5rem) 0%,
    100% 0%,
    100% calc(100% - 2rem),
    calc(100% - 2rem) 100%,
    calc(0% + 0.8rem) 100%,
    0% calc(100% - 0.8rem)
  );
}
.card-large-left {
  position: relative;
  width: 3.8rem;
  flex-shrink: 0;
  border-right: 1px solid var(--clr-ui-border-idle);
}
.card-large-left::after {
  position: absolute;
  inset: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: var(--clr-ui-overlay-hover);
  pointer-events: none;
}
.card-large:hover .card-large-left::after,
.card-large:focus-within .card-large-left::after {
  background-color: var(--clr-ui-overlay-active);
}
.card-large-content {
  padding: 2rem;
  flex-grow: 1;
  border-left: 1px solid var(--clr-ui-border-idle);
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: anywhere;
}
.card-large-left,
.card-large-inner,
.card-large-content {
  background: var(--clr-bg);
}
.card-large-content h3 {
  border-bottom: 1px solid var(--clr-ui-border-idle);
  margin-bottom: 1rem;
}
.card-large-content p {
  color: var(--clr-secondary);
}
/* SEE ALL SUBMISSIONS "BUTTON" */
.seeAllSubmissions {
  display: block;
  cursor: pointer;
}
.seeAllSubmissions summary {
  padding: 0.5rem 1rem;
}
/* SUBMISSION FORM */
.submissionForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.submissionForm h3 {
  font-weight: 600;
}
.submissionForm input,
.submissionForm textarea {
  display: block;
  width: 100%;
  padding: 0.5rem;
  border: 2px solid var(--clr-ui-border-idle);
  outline: none;
  font-family: inherit;
  font-size: 2rem;
  font-weight: 500;
  color: var(--clr-secondary);
  background: var(--clr-bg);
}
.submissionForm input::placeholder,
.submissionForm textarea::placeholder {
  color: gray;
  opacity: 0.5;
}
.submissionForm input:hover,
.submissionForm input:focus,
.submissionForm textarea:hover,
.submissionForm textarea:focus {
  border-color: var(--clr-ui-border-notidle);
}
.submissionForm textarea {
  resize: vertical;
}
.submissionForm .buttonSet {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
}

/* VERTICAL TABLE */
.table-vertical {
  text-align: left;
}
.table-vertical tbody {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.table-vertical tr {
  display: flex;
  flex-direction: column;
}
.table-vertical th {
  font-weight: 600;
}

/* REPORT FORM */
.card-large:has(form) h3 {
  font-weight: 600;
  color: var(--clr-secondary);
}
.report-content {
  display: flex;
  gap: 4rem;
}
.reported-content {
  flex-grow: 1;
  max-width: 40rem;
}
.reported-content p {
  color: inherit;
}
.reported-content span {
  display: block;
  filter: saturate(0);
  opacity: 0.7;
  text-overflow: ellipsis;
  overflow: hidden;
}
.reportForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30rem;
  flex-shrink: 0;
}
.reportForm textarea,
.reportForm select {
  display: block;
  width: 100%;
  padding: 0.5rem;
  font-family: inherit;
  font-size: 2rem;
  font-weight: 500;
  color: var(--clr-secondary);
  border: 2px solid var(--clr-ui-border-idle);
  outline: none;
  background: var(--clr-bg);
}
.reportForm textarea::placeholder {
  color: gray;
  opacity: 0.5;
}
.reportForm select:hover,
.reportForm select:focus-visible,
.reportForm textarea:hover,
.reportForm textarea:focus-visible {
  border-color: var(--clr-ui-border-notidle);
}
.reportForm textarea {
  resize: vertical;
}
.reportForm .buttonSet {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  text-align: center;
}
.notice {
  width: 100%;
  text-align: center;
}

@media only screen and (max-width: 968px) {
  .game-resources {
    grid-template-columns: minmax(0, 1fr);
  }
}

@media only screen and (max-width: 578px) {
  .report-content {
    flex-direction: column;
  }
  .reportForm {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .gamesection-header {
    flex-direction: column;
  }
  .table-vertical tr {
    display: flex;
    flex-direction: column;
  }
  .game-officialrss .button-styled-a {
    width: 100%;
  }
}
