/* SEARCH COMPONENT */
::-webkit-search-cancel-button {
  display: none;
}
.index-main .search-container {
  margin-top: 5vh;
}
.nav-ele-search {
  flex-grow: 1;
}
.search-container {
  position: relative;
  max-width: 60rem;
  width: 100%;
  z-index: 10;
}
.search-container input,
.search-results {
  background: var(--clr-bg);
  width: 100%;
}
.input-wrap {
  /* height ref for x & search buttons */
  position: relative;
}
.search-container input {
  outline: none;
  color: var(--clr-secondary);
  font-family: inherit;
  font-weight: 500;
  font-size: 2rem;
  border: 2px solid var(--clr-ui-border-idle);
  padding: 1rem;
}
.search-container:focus-within .search-expanded {
  border-bottom: 2px solid transparent;
}
.search-container input::placeholder {
  color: gray;
  opacity: 0.5;
}
.search-container input:hover,
.search-container input:focus,
.search-container:focus-within input {
  border-color: var(--clr-ui-border-notidle);
}
.search-buttons {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 1rem;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 1rem;
}
.search-buttons button {
  width: 3rem;
  height: 3rem;
  background: none;
  outline: none;
  border: none;
  color: hsla(from var(--clr-primary) h s l / 0.3);
}
.search-buttons button:focus-visible {
  outline: 2px solid var(--clr-primary);
}
.search-buttons button:hover {
  color: var(--clr-primary);
}
.search-container:not(:focus-within) .search-results {
  display: none;
}
.search-results {
  position: absolute;
  margin-top: -0.2rem;
  font-weight: 500;
  overflow: hidden;
  padding: 0.1rem 0;
  border: 2px solid var(--clr-ui-border-notidle);
  border-top: none;
}
.search-result {
  position: relative;
}
.search-result a {
  display: flex;
  align-items: center;
  padding: 0.5rem 2rem;
  gap: 1rem;
}
.search-result a span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.search-thumb {
  height: 4rem;
  width: 3.13rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-shrink: 0;
}
/* Darken & Blur everything if search is selected */
nav .search-container:focus-within::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0.2rem);
  z-index: -10;
}
@media only screen and (max-width: 968px) {
  .nav-ele-search:not(:focus-within) .search-buttons {
    display: none;
    z-index: 50;
  }
  .nav-ele-search:focus-within {
    padding: 0 4rem;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
  }
  .nav-ele-search .search-container:not(:focus-within) {
    max-width: 100%;
  }
  .nav-ele-search .search-container:not(:focus-within) input {
    float: right;
    width: 3rem;
    height: 3rem;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='hsla(2.41, 88.77%, 62.75%, 0.3)'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z' /%3E%3C/svg%3E%0A");
    cursor: pointer;
    border: none;
    color: transparent;
  }
  .nav-ele-search .search-container:not(:focus-within) input::placeholder {
    opacity: 0;
  }
  .nav-ele-search .search-container:not(:focus-within) input:hover {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='hsla(2.41, 88.77%, 62.75%, 1)'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z' /%3E%3C/svg%3E%0A");
  }
}
